extends layout

block content
    .jumbotron.wicked-application-title
        .container.wicked-title-container
            h1= __('applications.title')

            p= glob.views.applications.titleTagline

    .container.wicked-container

        p.
            #{__('applications.about')}

        if !authUser
            .panel.panel-danger
                .panel-heading
                    h4.panel-title #{__('not.logged.in')}
                .panel-body
                    p #{__('not.logged.in')}. #{__('applications.not.logged.in')}

                    a(href="/login?redirect=/applications").btn.btn-default #{__('login')} &raquo;
                    | &nbsp;&nbsp;
                    a(href="/signup").btn.btn-default #{__('signup')} &raquo;

        else
            - var applications_register_title = __("applications.register.title")
            .panel-group
                div(class='panel panel-default')
                    .panel-heading
                        +panelTitle(applications_register_title, '/help/applications', '#collapse')
                    div(id='collapse' class='panel-collapse collapse #{showRegister}')
                        .panel-body
                            form(role='form' action='/applications/register' method='POST')
                                .form-group
                                    label(for='appid') #{__('applications.app.id')}:
                                    input(type='string' name='appid').form-control
                                    small #{__('applications.app.id.description')}
                                .form-group
                                    label(for='appname') #{__('applications.app.name.title')}:
                                    input(type='string' name='appname').form-control
                                    small #{__('applications.app.name')}

                                .checkbox
                                    label
                                        input(type='checkbox' name='hasredirecturi' data-toggle='collapse' data-target='#redirecturipanel')
                                        strong #{__('applications.oauth')}

                                div(id='redirecturipanel' class='panel-collapse collapse')
                                    .form-group
                                        label(for='redirecturi') Redirect URI:
                                        input(type='string' name='redirecturi' value='https://').form-control
                                        small.!=__('applications.callback.description')

                                p
                                    button(type='submit').btn.btn-success #{__('applications.register')}

            hr

            if applications.length == 0
                br
                h4 #{__('applications.noapps')}
            else
                p #{__('applications.review.owners')}

                table.table.table-striped
                    thead
                        tr
                            th ID
                            th Name
                            th Role
                    tbody
                        each app, i in applications
                            tr
                                td= app.id
                                td
                                    a(href='/applications/#{app.id}')= app.name
                                td= app.userRole
